input{
    display: block;
    margin: 0 auto;
    width: 25%;
    margin-bottom: 2em;
    border-radius: 25px;
    line-height: 2em;
    border: 1px solid black;
    text-indent: 1em;
    margin-top: 4em
}

.btn{
    padding: 0.6em 2em 0.6em 2em;
    border-radius: 25px;
}

#aggiungiProdotti input{
    display: inline;
    width: 15%;
}

th{
    padding-right: 30px;
}

table{
    margin-top: 2em;
}